.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MOINAK EDIT BELOW */

body{
  background-color: #09080A;
  overflow: hidden;
  font-family: Heebo;
  user-select: none
}

/* LOGIN PAGE */
@keyframes fade-up-in {
  0% {
    opacity: 0;
    transform: translate(-50%,-40%);
  }
  20% {
    opacity: 1;
    transform: translate(-50%,-50%);
  }
}

@keyframes nutri-slide {
  0% {
    transform: translate(-50%,-50%);
    left:50%;
    background-color: #09080A;
  }
  20% {
    transform: translate(-50%,-50%);
    left:50%;
    background-color: #09080A;
  }
  40% {
    transform: translate(0%,-50%);
    left:0%;
    background-color: #09080A;
  }
  50%{
    background-color: transparent;
  }
}

@keyframes wolf-slide {
  0% {
    transform: translate(-50%,-50%);
    left:50%;
    width:47.439713489%;
    
  }
  20% {
    transform: translate(-50%,-50%);
    left:50%;
    width:47.439713489%;
  }
  40% {
    transform: translate(-100%,-50%);
    left:100%;
    width:47.439713489%;
  }
  
}

#login-background{
  content: url("../images/long_island_graphic.png");
  position: absolute;
  top: 0;
  left: 0;
  height: 100vw;
}

#login-window{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 75%;
  width: 50%;
  height: 100%;
  animation: fade-up-in 5s ease forwards;
}

#image-container{
  position: absolute;
  width: 50%;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 30%;
  aspect-ratio: calc(628.25/123.08);
}

#nutri-logo{
  content: url("../images/Nutri-logo-1.png");
  position: absolute;
  width: calc(330.21/628.25);
  height: 100%;
  transform: translate(0%,-50%);
  left: 0%;
  top: 50%;
  aspect-ratio: calc(330.21/123.08);
  background-color: transparent;
  animation: nutri-slide 5s ease forwards;
  z-index: 100;
}

#wolf-logo{
  content: url("../images/Wolf-logo-2.png");
  position: absolute;
  width: calc(298.04/628.25);
  height: 100%;
  aspect-ratio: calc(298.04/123.08);
  transform: translate(-100%,-50%);
  left: 100%;
  top: 50%;
  animation: wolf-slide 5s ease forwards;
}

.login-user-input{
  background-color: transparent;
  border: none;
  border-bottom: rgba(255,255,255,0.5) 0.05vw solid;
  font-size: 1vw;
  color: rgba(255,255,255,0.8);
  z-index: 1000;
  
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  width: 40%;
  transition: border-bottom 0.3s ease-in-out, font-size 0.3s ease-in-out, width 0.3s ease-in-out;
}

.login-user-input:focus{
  outline: none;
  border-bottom: rgba(255,255,255,1) 0.05vw solid;
  font-size: 1.05vw;
  width: 41%;
}

#login-submit{

  background-color: #4F9737;
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  width: 40%;
  top: 60%;
  border-radius: 0.5vw;
  height: 1.7vw;
  font-size: 0.8vw;
  line-height: 1.7vw;
  color: rgba(255,255,255,0.8);
  transition: height 0.3s ease-in-out, font-size 0.3s ease-in-out, width 0.3s ease-in-out;
  z-index: 100;
  cursor: pointer;
  text-decoration: none;
}

#login-submit:focus{
  outline: none;
  font-size: 0.9vw;
  width: 42%;
  height: 1.9vw;
}

#login-submit:hover{
  outline: none;
  font-size: 0.9vw;
  width: 42%;
  height: 1.9vw;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-container {
  opacity: 0;
  animation: fade-in 0.5s ease forwards;
  z-index: 1000;
}

/* CALENDAR BELOW */

#calendar-bg{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(9,8,10);
  background: linear-gradient(317deg, rgba(9,8,10,1) 0%, rgba(41,48,21,1) 100%);
  color: white;
}

#calendar-sidebar{
  position: absolute;
  top: 0%;
  height: 100%;
  width: 25%;
  left: 100%;
  transform: translate(-100%,0%);
  background: rgba(0,0,0,0.2);
}

#mini-calendar{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 25%;
  height: 25%;
  width: 80%;
  left: 50%;
}

#calendar-month{
  position: absolute;
  top:0;
  left:5%;
  height: 2vw;
  width: 70%;
  font-size: 1.5vw;
  color: rgba(255,255,255,0.8);
  transform: translate(0%,-140%);
  display: flex;
}

#calendar-header {
  display: flex;
  justify-content: space-between;
  padding: 0.3vw;
}

.calendar-day-label {
  font-size: 0.8vw;
}

#calendar-grid {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.calendar-week {
  display: flex;
  justify-content: space-between;
  padding: 0.5vw;
}

.calendar-day {
  width: calc(100% / 7);
  text-align: center;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(36, 172, 9, 0.5);
  pointer-events: none;
  z-index: -1;
}

.calendar-day.selected {
  position: relative;
}

.calendar-week.selected {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1vw ;
}

#major-calendar-timesheet {
  position: absolute;
  top: 20%;
  left: 0%;
  width: 75%;
  height: 75%;
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0); /* Scrollbar color */
}

#timesheet-template{
  content: url("../images/majorCalendarLines.svg");
  position: absolute;
  top: 0%;
  left: 50%;
  width: 93%;
  transform: translate(-50%,0%);
}

#major-calendar-header{
  position: absolute;
  top: 5%;
  left: 37.5%;
  width: 69.75%;
  transform: translate(-50%,0%);
  height: 10%;
}


#major-calendar-label-holder{
  position: absolute;
  top: 0;
  left: 100%;
  width: 95.5%;
  transform: translate(-100%,0%);
  height: 100%;
  display: flex;
}

.calendar-date {
  flex-grow: 1;
  width: calc(100%/7);
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vw;
  font-weight: 500;
}

.day-of-week {
  position: relative;
  top: 0%;
  left: 0%;
  transform: rotate(-90deg);
  font-size: 1.2vw;
  color: rgba(255, 255, 255, 0.6);
}